.first {
    position: absolute;
    right: 0;
}
.one, .two {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 1px solid #3498db;
    border-radius: 4px;
    cursor: pointer;
}

.one:hover, .two:hover, .third:hover{
    background-color: #2980b9;
}
.a_s{
    color: rgb(238, 13, 13);
    font-size: x-large;
    margin-left: 30px;
}
.three {
    position: relative;
}

.four{
    margin-left: 30px;
}

.five {
    position: absolute;
    margin-left: 60%;
    margin-top: -10px;
}
.second{
     margin: 30px; 
}

.a{
    width: 600px;
    height: 25px;
    margin-bottom: 15px;
    margin-left: 71px;
    margin-right: 20px;
    border: 1px solid #b8b4b4;
}

.b{
    width: 600px;
    height: 25px;
    margin-bottom: 15px;
    margin-left: 14px; 
    margin-right: 20px;
    border: 1px solid #b8b4b4;
}

.c{
    width: 600px;
    height: 25px;
    margin-bottom: 15px;
    margin-left: 49px;
    margin-right: 13px;
    border: 1px solid #b8b4b4;
}

.d{
    width: 600px;
    height: 25px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 20px;
    border: 1px solid #b8b4b4;
}
.a:focus, .b:focus, .c:focus, .d:focus{
    border-color: rgb(153, 153, 229);
    outline: none;
    box-shadow: -1px -1px 1px rgb(153, 153, 229);
}

.third{
    background-color: #3498db;
    color: white;
    border-radius: 4px;
    margin: 5px;
    padding: 10px 20px;
    border: 1px;
    cursor: pointer;
}

body{
    font-family: arial, sans-serif;
    color: rgb(51, 48, 48);
}
label{
    font-size: small;
}
