.one{
    align-self: flex-start;
    text-align: center;
    background-color: rgb(142, 162, 218);
    color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    border: 1px;
    cursor: pointer;
}
.one:hover, .two:hover{
    background-color: rgb(93, 93, 221);
}
.two{
    background-color: rgb(142, 162, 218);
    color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    border: 1px;
    cursor: pointer;
}
.three{
    height: 35px;
    width: 500px;
    border:1px solid lightgray ;
    border-radius: 20px;

}
.three:hover{
    box-shadow: -1px -1px 1px rgb(224, 230, 224) ,  1px 1px 1px rgb(224, 230, 224);
}

.three:focus{
    border-color: lightgray;
    outline: none;
    box-shadow: -1px -1px 1px rgb(198, 198, 219), 1px 1px 1px rgb(198, 198, 219);
}

.four, .five{
   border: 1px;
   padding: 10px;
   cursor: pointer;
   margin: 30px;
}
.four:hover, .five:hover{
    border: 1px solid rgb(165, 165, 165);
    box-shadow: -1px -1px 1px rgb(224, 230, 224) ,  1px 1px 1px rgb(224, 230, 224);
    border-radius: 3px;
}
.six{
    width: 500px;
    margin: auto;
}
.img1{
    margin-bottom: -70px;
}
.img2{
    position: absolute;
    padding: 4px;
    margin-left: 3px;
}
.first {
    position: absolute;
    right: 0;
} 