.one, .two {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 1px solid #3498db;
    border-radius: 4px;
    cursor: pointer;
}
.one:hover, .two:hover {
    background-color: #2980b9;
}

.three{
    height: 45px;
    width: 500px;
    border:1px solid lightgray ;
    border-radius: 30px;
    padding-left: 40px;
}
.three:hover{
    box-shadow: -1px -1px 1px rgb(224, 230, 224) ,  1px 1px 1px rgb(224, 230, 224);
}

.three:focus{
    border-color: lightgray;
    outline: none;
    box-shadow: -1px -1px 1px rgb(198, 198, 219), 1px 1px 1px rgb(198, 198, 219);
}

.four{
   border: 1px;
   padding: 10px;
   cursor: pointer;
   margin: 30px;
   margin-left: 160px;
}
.five{
    border: 1px;
    padding: 10px;
    cursor: pointer;
    margin: 30px;
    margin-left: 1px;
 }
.four:hover, .five:hover{
    border: 1px solid rgb(165, 165, 165);
    box-shadow: -1px -1px 1px rgb(224, 230, 224) ,  1px 1px 1px rgb(224, 230, 224);
    border-radius: 3px;
}
.six{
    width: 500px;
    margin: auto;
}
.img1{
    margin-bottom: -80px;
    margin-left: 120px;
}
.img2{
    position: absolute;
    padding: 10px;
    margin-left: -4px;
}
.first {
    position: absolute;
    right: 0;
} 