.one, .two{
    background-color: rgb(142, 162, 218);
    color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    border: 1px;
    cursor: pointer;
}
.one:hover, .two:hover{
    background-color: rgb(93, 93, 221);
}
.three{
    height: 43px;
    width: 500px;
    border:1px solid lightgray ;
    border-radius: 25px;
    margin-bottom: 30px;
    
}
.three:hover{
    box-shadow: -1px -1px 1px rgb(224, 230, 224) ,  1px 1px 1px rgb(224, 230, 224);
}

.three:focus{
    border-color: lightgray;
    outline: none;
    box-shadow: -1px -1px 1px rgb(198, 198, 219), 1px 1px 1px rgb(198, 198, 219);
}

.four{
   border: 1px;
   padding: 10px;
   cursor: pointer;
}
.five{
    border: 1px;
    padding: 10px;
    cursor: pointer;
    margin-right: 100px;
    width: 110px;
}
.five:hover{
    border: 1px solid rgb(165, 165, 165);
    box-shadow: -1px -1px 1px rgb(224, 230, 224) ,  1px 1px 1px rgb(224, 230, 224);
    border-radius: 3px;
}
.six{
    width: 500px;
    margin: auto;
}
img{
    margin-top: 100px;
}
* {
    box-sizing: border-box;
  }
.first {
    position: absolute;
    right: 0;
} 